html
    head
        title=`${username}'s Profile`
        link(rel='stylesheet', href='/styles.css')
        script(src='/js/client.js')
    
    body(onload=`loadProfilePage('${username}')`)
        include header.pug
        h2=name

        if thisuser !== username
            button#follow-button

        p= `Following: ${following.length}`
        p= `Followers: ${followers.length}`

        p=`${name}'s Artwork:`
        if artwork.length > 0
            ul
                each artpiece in artwork
                    li
                        a(href=`/gallery/view-art/${artpiece}`)=artpiece
        else
            p=`${name} hasn't posted any art yet`
        br
        p=`${name}'s Workshops:`
        if workshops.length > 0
            ul
                each workshop in workshops
                    li
                        a(href='', onclick=`joinWorkshop("${workshop}")`)=workshop
        else
            li=`${name} isn't hosting any workshops yet`
        br
        p=`${name}'s Reviews:`
        if reviews.length > 0
            ul
                each review in reviews
                    li
                        a(href=`/gallery/view-art/${review}`)=review
        else
            li=`${name} hasn't posted any reviews yet`
        br
        p=`${name}'s Likes:`
        if likes.length > 0
            ul
                each like in likes
                    li
                        a(href=`/gallery/view-art/${like}`)=like
        else
            li=`${name} hasn't liked anything yet`