html
    head
        title artist.name
        link(rel='stylesheet', href='/styles.css')
        script(src='/js/client.js')
    
    body(onload=`loadProfilePage('${username}')`)
        include header.pug
        h2=name

        if thisuser !== username
            button#follow-button

        p= `Following: ${following.length}`
        p= `Followers: ${followers.length}`

        p=`${name}'s Art:`
        if artwork.length > 0
            ul
                each artpiece in artwork
                    li
                        a(href=`/gallery/view-art/${artpiece}`)=artpiece
        else
            p=`${name} hasn't posted any art yet`
        
        p=`${name}'s Workshops:`
        if workshops.length > 0
            ul
                each workshop in workshops
                    li
                        a(href=`/workshop/view-workshop/${workshop}`)=workshop
        else
            li=`${name} isn't hosting any workshops yet`